!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Health Kiosk Admin Page
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/app.css')
    <link href="js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  body
    block body