/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Custom container */
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}
.container-fixed > hr {
  margin: 10px 0;
}

.wellh{
  height: 100px;
  padding: 0px !important;
  width: 100%;
  display: table;
}
.topleft{
  left: 0px;
  top: 0px;
  font-size:12px;
  font-weight: bold;
  height:20px;
  width: 100%;
  text-align: left;
}
.alignreading{
  font-size:50px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: auto;
}
.measure{
  font-size:12px;
   vertical-align: middle;
  padding-left: 10px;
}
.centerinbox{
  padding: 19px;
}